* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top-pane {
  background-color: hsl(225, 6%, 25%);
}

.pane {
  height: 50vh;
  display: flex;
}

.editor-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  background-color: hsl(225, 6%, 25%);
}

.editor-container.collapsed {
  max-width: 200px;
}

.editor-container.collapsed .CodeMirror-scroll {
  overflow: hidden !important;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: #fff;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
}
